h4 {
    color: blue; 
    font-size: 20px;
    font-family: 'Roboto';
}

.direct-report-list-content{
    background-color: #e0e0e0;
}

.employee-action {
    position: absolute;
    right: 10px;
}

.direct-report-header {
    background-color: #7e848c;
    color: white;
}

